.section-message{
    overflow-y: scroll;
    height: 500px;
}
.section-message::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}
.section-message::-webkit-scrollbar-track {
    background: rgba(250, 110, 122, 0.767);        /* color of the tracking area */
}
  
.section-message::-webkit-scrollbar-thumb {
    background-color: #4db6ac;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  
    border: 3px solid #4db6ac;  /* creates padding around scroll thumb */
}